@charset "UTF-8";

html{
    font-size: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}


body{
    margin: 0;
    color: #333333;
}
/* ヘッダー */
#header{
    padding: 40px 0 0 50px;
    height: 100px;
    box-sizing: border-box;
}
h1.logo{
    margin: 0;
}
.logo a img{
    width: 100px;
    vertical-align: bottom;
}

#navi{
    top: 0;
    left: 0; /*top・left指定しないとheaderのpadding分ずれる*/
    background-color: #FF2A2A;
    height: 100vh;
    width: 100vw;
    color: #fff;
    position: fixed;
    z-index: 20;
    text-align: center;
    transition :opacity 0.6s ease, visibility 0.6s ease;
    visibility: hidden;
}
.nav-menu{
    padding: 0;
}
.nav-menu li{
    margin-bottom: 20px;
}
.nav-menu li a{
    color: #fff;
}
#navi.active{
    opacity: 1;
    visibility: visible;
}
.navi-logo{
    position: absolute;
    width: 100px;
    top: 40px;
    left: 50px;
}

/*ハンバーガーメニュー*/
.hamburger-button{
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    background-color: #FF2A2A;
    text-align: center;
    z-index: 30;
    cursor: pointer;
    transition: 0.3s;
}
.hamburger-button:hover {
  opacity: 0.7;
}

/*ハンバーガーボタン　押下前*/
.hamburger-button span{
    display: block;
    width: 50px;
    height: 2px;
    position: absolute;
    left: 25px;
    background: #ffffff;
    transition: 0.3s ease-in-out;
}

.hamburger-button span:nth-child(1){
    top: 35%;
}
.hamburger-button span:nth-child(2){
    top: 50%;
}
.hamburger-button span:nth-child(3){
    top: 65%;
}

/*ハンバーガーボタン　押下後*/
.hamburger-button.active span:nth-child(1){
    top: 45%;
    left: 25px;
    background :#fff;
    transform: rotate(-45deg);
}
.hamburger-button.active span:nth-child(2),
.hamburger-button.active span:nth-child(3){
    top: 45%;
    background :#fff;
    transform: rotate(45deg);
}


/* SP */
@media screen and (max-width:485px){

}