@charset "UTF-8";

html{
    font-size: 100%;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}


body{
    margin: 0;
    color: #333333;
}
/* ヘッダー */
#header{
    padding: 40px 0 0 50px;
    height: 100px;
    box-sizing: border-box;
}
h1.logo{
    margin: 0;
}
.logo a img{
    width: 100px;
    vertical-align: bottom;
}

#navi{
    top: 0;
    left: 0; /*top・left指定しないとheaderのpadding分ずれる*/
    background-color: #FF2A2A;
    height: 100vh;
    width: 100vw;
    color: #fff;
    position: fixed;
    z-index: 20;
    text-align: center;
    transition :opacity 0.6s ease, visibility 0.6s ease;
    visibility: hidden;
}
.nav-btn{
    color: #fff;
}
.nav-menu{
    padding: 0;
}
.nav-menu li{
    margin-bottom: 20px;
}
.nav-menu li a{
    color: #fff;
}
#navi.active{
    opacity: 1;
    visibility: visible;
}
.navi-logo{
    position: absolute;
    width: 100px;
    top: 40px;
    left: 50px;
}

/*ハンバーガーメニュー*/
.hamburger-button{
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    background-color: #FF2A2A;
    text-align: center;
    z-index: 30;
    cursor: pointer;
    transition: 0.3s;
}
.hamburger-button:hover {
  opacity: 0.7;
}

/*ハンバーガーボタン　押下前*/
.hamburger-button span{
    display: block;
    width: 50px;
    height: 2px;
    position: absolute;
    left: 25px;
    background: #ffffff;
    transition: 0.3s ease-in-out;
}

.hamburger-button span:nth-child(1){
    top: 35%;
}
.hamburger-button span:nth-child(2){
    top: 50%;
}
.hamburger-button span:nth-child(3){
    top: 65%;
}

/*ハンバーガーボタン　押下後*/
.hamburger-button.active span:nth-child(1){
    top: 45%;
    left: 25px;
    background :#fff;
    transform: rotate(-45deg);
}
.hamburger-button.active span:nth-child(2),
.hamburger-button.active span:nth-child(3){
    top: 45%;
    background :#fff;
    transform: rotate(45deg);
}

/*メインビジュアル*/
#mainvisual{
    position: relative;
}
.mainvisual-text{
    position: absolute;
    z-index: 200;
    top: 230px;
    left: 135px;
}

.mainvisual-text p{
    font-size: 2.75rem;
    font-weight: bold;
    margin:0 0 30px 0;
    text-shadow: 2px 2px 4px #fff;
}

/*butoon*/
.btn-square {
    font-size: 1.5rem;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ff2a2a;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #7A051C;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    transition: 0.3s;
    position: relative;
}
.btn-square::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 27px;
  width: 16px;
  height: 16px;
  margin: auto;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  box-sizing: border-box;
}
.btn-square:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

/*背景フェード*/
.fade{
    position: relative;
	height: 100vh; 
	overflow: hidden; /* スライドがコンテナ外に出ないように非表示 */
    padding: 0;
    margin: 0 0 0 auto;
}
.fade li{
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
}
.fade-img{
	position: absolute; /* 位置を絶対指定で重ねて配置 */
	opacity: 0; /* 初期状態で透明に */
	animation: slideAnime 15s infinite; /* 1サイクル15秒を無限ループ */
}
.fade-img img{
    height: 720px;
    width: 100%;
    object-fit: cover;
}
.fade-img::after{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -moz-box-shadow: inset 0px 0px 20px 20px #fff;
    -webkit-box-shadow: inset 0px 0px 20px 20px #fff;
    box-shadow: inset 0px 0px 20px 20px #fff;
    content: " ";
}
.fade-img:nth-child(1){
    animation-delay: 0s;
}
.fade-img:nth-child(2){
    animation-delay: 5s;
}
.fade-img:nth-child(3){
    animation-delay: 10s;
}

.sec-title{
    position: relative;
    font-size: 2.25rem;
    text-align: center;
    margin:0 0 30px 0;
}
.sec-title::before{
    content: "";
    height: 3px;
    background-color: #333333;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100px;
    bottom: -10px;
}

@keyframes slideAnime {
	0%, 50%, 100% { opacity: 0; } /* 非表示のタイミング */
	20%, 33% { opacity: 1; } /* 表示されるタイミング */
}


/*reason*/
#reason{
    margin-bottom: 120px;
}
.red-bg{
    background-color: #FF2A2A;
    padding: 80px 0;
    position: relative;
}
.red-contents{
    background-color: #FFF;
    padding: 80px;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.red-contents .icon{
    max-width: 100%;
    margin-right: 20px;
    height: 60px;

}
.red-text{
    font-weight: bold;
    font-size: 1.8rem;
    color: #FF2A2A;
}
.reason-text p{
    margin: 0;
}
.reason-left{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
     animation: slide-left 0.5s ease-out 0s 1 forwards;
}
.reason-right{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
}


/*voice*/
#voice{
    width: 860px;
    margin: 0 auto;
}
.student-voice{
    display: flex;
    align-items: end;
}
.student{
    text-align: center;
}
.student-name{
    font-size: 0.75rem;
}
.student-img{
    background-color: #d1d1d1;
    border-radius: 50%;
    width: 120px;
}
.student-voice .message{
  position: relative;
  display: inline-block;
  margin: 1.5em 1.5em 1.5em 15px;
  padding: 20px;
  min-width: 120px;
  max-width: 60%;
  font-size: 16px;
  background: #E9F1FB;
  border-radius: 20px;
}
.student-voice .message::before{
  content: "";
  position: absolute;
  top: 70%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #E9F1FB;
}
.student-voice .message.right-balloon::before{
  content: "";
  position: absolute;
  top: 70%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #E9F1FB;
}
.student-voice .right-balloon{
    margin-left: auto;
}


/* SP */
@media screen and (max-width:485px){

}